[user]
	name = M-A Goulet
	email = {{- if eq .chezmoi.hostname "t480s" }}M-A Goulet {{- end }}
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = true
