# Easily reload configuration
bind r source-file ~/.tmux.conf

# Set the correct terminal type
set -g default-terminal "xterm-256color"

# Split panes
bind - split-window -v
bind | split-window -h

set -g display-panes-time 10000
set -g bell-action none
set -g visual-bell off
set-option -g set-titles on
set-option -g set-titles-string "#h"

# bind C-c run "tmux save-buffer - | xclip -i -sel clipboard > /dev/null"

# Mouse support
set -g mouse on


{{- if eq .chezmoi.hostname "tars" }}
set -g pane-active-border-style fg=#bc6c25,bg=black
set -g pane-border-style fg=white,bg=black
set -g pane-border-lines heavy

set-window-option -g window-status-current-style bg=#fefae0,fg=black
set-window-option -g window-status-style bg=#bc6c25,fg=#fefae0

set -g status-style "bg=#bc6c25"
{{ end }}


{{- if eq .chezmoi.hostname "t480s" }}
set -g pane-active-border-style fg=#145da0,bg=black
set -g pane-border-style fg=white,bg=black
set -g pane-border-lines heavy
set-window-option -g window-status-current-style bg=#145da0,fg=#b1d4e0
set-window-option -g window-status-style bg=#000c66,fg=white

# Status bar
set -g status-style "bg=#000c66" 
{{ end }}

