{
  "$schema": "https://opencode.ai/config.json",
  "permission": {
    "edit": "ask",
    "bash": {
      "*": "ask",
      "ls *": "allow",
      "td *": "allow"
    },
    "webfetch": "allow"
    },
  "instructions": [
    "~/.config/opencode/context/*.md"
  ],
  "mcp": {{- if eq .chezmoi.hostname "tars" }} {}
  {{- else }} {
    "google-calendar-mcp": {
      "type": "local",
      "command": [
        "npx",
        "@cocal/google-calendar-mcp"
      ],
      "environment": {
        "GOOGLE_OAUTH_CREDENTIALS": "/home/magoulet/.local/secure/google/mcp-oauth.json"
      },
      "timeout": 20000
    },
    "gmail": {
      "type": "local",
      "command": [
        "npx",
        "@gongrzhe/server-gmail-autoauth-mcp"
      ],
      "timeout": 20000
    }
  }
  {{- end }}
}
