@import "Arc-Dark"

window {
  width: 20%;
  border-radius: 8px;
  padding: 10px;
}

mainbox {
  padding: 10px;
}

entry {
  placeholder: "";
  enabled: false;
}

listview {
  lines: 6;
  columns: 1;
  spacing: 5px;
  cycle: false;
}

element {
  padding: 12px;
  border-radius: 6px;
  spacing: 8px;
}

element selected {
  background-color: @selected-normal-background;
  foreground: @selected-normal-foreground;
}
